#contact{
	max-height: 100vh;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url('../images/contact_bg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

a.btn{
	text-decoration: none;
	color: #fcfcfc;
	width: 150px;
}