#exam{
	background-color: #f4f7fa;
}

.row{
	justify-content: center;
	padding: 20px;
}

.cards {
	font-family: Poppins_Medium, sans-serif;
	box-shadow: 0 0 30px rgb(81 94 125 / 8%);
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
	margin: 30px;
	padding-top: calc(var(--bs-gutter-x) * .5);
	background-color: #fcfcfc;
	border-radius: 1rem;
}

.row .cards{
  animation: growandappear 0.4s ease;
}

.cards img{
	width: 100%;
	height: 200px;
	padding: 10px;
	object-fit: cover;
	border-radius: 1rem;
	padding-bottom: calc(var(--bs-gutter-x) * .5);
	object-position: center;
}

.cards h4{
	padding-bottom: 20px;
}

.cards:hover{
	transform: scale(1.05);
	color: #000;
}

a.cards{
	text-decoration: none;
	color: #000;
}