@font-face {
	font-family: 'Poppins_Medium';
	src: url('../fonts/Poppins-Medium.ttf')
}
@font-face {
	font-family: 'Poppins_Light';
	src: url('../fonts/Poppins-Light.ttf')
}
@font-face {
	font-family: 'Poppins_Bold';
	src: url('../fonts/Poppins-Bold.ttf')
}

body{
	font-family: Poppins_Medium, sans-serif;
	scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5{
	text-align: justify;
	color: #3d3d3d;
}

.hide{
	display: none;
}

.navback{
	padding: 0px;
	background-color: #f2f2f2;
	transition: all 0.6s ease;
	font-size: 1.2em;
}

.navback-scrolled{
	box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
	background-color: #fff;
}

.logo{
	line-height: 60px;
}

.logo img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.padded{
	padding-top: 100px;
	padding-bottom: 50px;
}

#home{
	background-color: #f2f2f2;
}

#home .padded{
	padding-bottom: 0px;
}

#about{
	background-color: #f2f2f2;
}

.center{
	display: block;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.carousel-item img {
	height: calc(100vh - 90px);
	max-height: 100vh;
	width: 100vw;
	object-fit: cover;
	object-position: center;
}

.fix-width {
	max-width: 70vw;
	object-fit: contain;
	object-position: center;
}

.table tr td{
	min-width: 100px;
}

.table tr td:nth-child(n+2){
	text-align: center;
}

a.btn{
	text-decoration: none;
	color: #fcfcfc;
}

#footer{
	background-color: #e6e6e6;
	padding-top: 100px;
	padding-bottom: 20px;
}

.social{
	cursor: pointer;
	text-decoration: none;
	color: rgba(0,0,0,.55);
	transition: 0.6s ease;
}

a.social:hover {
	transform: scale(1.1);
}

.icon{
	font-size: 1.6em;
	margin: 5px;
}

.flex-center{
	justify-content: center;
}

[data-inviewport = "fade-in"] { 
	transition: 1s ease;
	opacity: 0;
}

[data-inviewport = "fade-in"].is-inViewport { 
	opacity: 1;
}

img{
	transition: 2s;
	opacity: 0.1;
}

.fade-in{
	opacity:  1;
}

@keyframes growandappear {
	from {opacity: 0; transform: scale(0.7);}
	to {opacity: 1; transform: scale(1.0);}
}

.cards{
	animation: growandappear 0.4s ease;
}

#pay{
	background-color: #3d3d3d;
}

.qr{
	width: 350px;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;

}

.qr div{
	margin-bottom: 10px;
}

.qr-img{
	width: 250px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.qr::after{
	content: " ";
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: #3d3d3d;
	position: absolute;
	top: 70px;
	left: -10px;
}

.qr::before{
	content: " ";
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: #3d3d3d;
	position: absolute;
	top: 70px;
	right: -10px;
}

@media only screen and (max-width: 600px) and (orientation: portrait){
	.carousel-item img{
		object-fit: contain;
	}
	.img-cont h2{
		bottom: 1px;
		width: 100%;
	}
}


.img-cont{
	position: relative;
}

.img-cont h2{
	position: absolute;
	text-align: center;
	bottom: 3rem;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #3d3d3d;
	color: #fff;
	padding: 20px;
	font-weight: bold;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #000;
	padding: 2rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
	background-color: darkgray;
	border-radius: 5px;
}